<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ballZoo | Educational Program</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <H1>Educational Program</H1>
        <br />
        <div class="callout2">
            Take an eye-opening look at the world of reptiles through this informative program that features snakes, lizards, turtles, 
            tortoises, and alligators. Students will learn fascinating facts as they get a close-up look at reptiles creeping, leaping, 
            crawling, and climbing. Students can even touch some reptiles such as the Burmese python, boa constrictor, turtles, terrapins, 
            and tortoises. But the Solomon Island Skink and other sharp toothed reptiles are better left untouched. We supervise all 
            hands-on activities to ensure the safety of students at all times.
        </div>
        <br />
        <a href="/reptiles">⟨　Go back</a>
    </div>
</body>
</html>